<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/common.css">
  <title>Stream Porch Handler</title>
</head>
<body>
  <output class="status">Waiting to connect</output>
  <audio src="/audio/still-dre.mp3" data-name="stillDre"></audio>
  <audio src="/audio/gangsta-paradise.mp3" data-name="gangstaParadise"></audio>
  <audio src="/audio/see-me-rollin.mp3" data-name="seeMeRollin"></audio>
  <audio src="/audio/ridin-dirty.mp3" data-name="ridinDirty"></audio>
  <audio src="/audio/surprise.mp3" data-name="surprise"></audio>
  <audio src="/audio/sad-violin.mp3" data-name="sadViolin"></audio>
  <script src="https://unpkg.com/socket.io-client@2.3.1/dist/socket.io.js"></script>
  <script src="/js/stream-porch-handler.js"></script>
</body>
</html>